form {
    position: relative;
    left: 5px;
    bottom: 110px;
    width: 240px;

}
.l {
    position: relative;
    left: 90%;
    bottom: 135px;
    width: 50px;
}
.r {
    position: relative;
    left: 90%;
    bottom: 135px;
}
.ul {
    position: relative;
    left: 100px;
    top: 20px;
}
#square {
    width: 170px;
    height: 100px;
    background: #00000041;
    position: relative;
    bottom: 50px;
    left: 89%;
}