{% extends 'base.html' %}
{% block content %}
{% load static %}
        <title>Пост №{{post.id}}</title>
        <h1>{{post.title}}</h1>
        <h2>{{post.body}}</h2>
        <h5>{{post.date}}</h5>
        <h1>{{post.upload_file}}</h1>
        <h1>{{post.upload_img}}</h1>
        <h1>{{rate.rating}}</h1>
        <h6>
        <button onclick="window.location='http://127.0.0.1:8000/news'">Назад</button></form>
        <button onclick="window.location='http://127.0.0.1:8000'">Назад на главную страницу</button></form>
        </h6>
{% endblock content %}