{% extends 'base.html' %}
{% block content %}
    <button onclick="window.location='http://127.0.0.1:8000/posts'">Все посты</button>
    <button onclick="window.location='http://127.0.0.1:8000/users'">Список пользователей</button>
    <button onclick="window.location='http://127.0.0.1:8000/news'">Все новости</button>
    <button onclick="window.location='http://127.0.0.1:8000/create_news'">Создать новость</button>
    <button onclick="window.location='http://127.0.0.1:8000/create_post'">Создать пост</button>
{% endblock content %}