{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div id="square"></div>
    <h3 style="position: relative; bottom: 90px;">Тестовый вариант</h3>
    <a href="http://127.0.0.1:8000/login" class="l">Вход</a>
    <a href="http://127.0.0.1:8000/register" class="r">Регистрация</a>
    <form action="http://127.0.0.1:8000/users"><input type="submit" value="Список пользователей" class="main_button"/></form> 
    <div class="wrap">
        <form class="search" action="{% url 'main' %}">
          <input type="text" class="searchTerm" placeholder="Поиск поста" name="search">
          <h6 class="searchText">Нажмите Enter</h6>
        </form>
    </div>
{% endblock content %}