{% extends 'base.html' %}
{% block content %}
{% load static %}
    <title>Новость №{{new.id}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <h6 class="h6__">
    <h1>{{new.title}}</h1>
    <h3>{{new.body}}</h3>
    <h5>{{new.date}}</h5>
    </h6>
    <button onclick="window.location='http://127.0.0.1:8000/news'">Назад</button>
    <button onclick="window.location='http://127.0.0.1:8000'">Назад на главную страницу</button>
{% endblock content %}