{% load static %}
<footer class="footer">
    <h6 class="footer_endpage">Конец страницы, можете вернуться <a href="http://127.0.0.1:8000/" class="footer_">На главную страницу</a></h6>
    <h6 class="footer_link_mail">Почта для связи: <a href="https://mail.google.com/mail/">example@gmail.com</a></h6>
    <a href="https://www.youtube.com/channel/UCMnahQWTCi9rkdG9IWCP4Vg" class="youtube">Youtube</a>
    <a href="https://vk.com/mkozh162" class="vk">VK</a>
    <a href="https://www.youtube.com/shorts/I_duxn6of8o" class="discord">Discord</a>
</footer>