{% load static %}
<header>
    <button onclick="window.location='http://127.0.0.1:8000/'" class="back_2_main_menu_header"><img src="{% static 'img/logo.jpg' %}"></button>
    <a href="http://127.0.0.1:8000/login" class="login">Вход</a>
    <a href="http://127.0.0.1:8000/register" class="registration">Регистрация</a>
    <div class="wrap">
          <button type="submit" id="java_search">Поиск по ID</button>
    </div>
    <script>
        document.querySelector("#java_search").onclick = function(){
            const insert = prompt('Введите ID поста')
            window.location.replace("http://127.0.0.1:8000/posts/" + insert + "/");
        }
    </script>
</header>